.nxl-header .header-wrapper .nxl-h-dropdown.nxl-user-dropdown {
    width: 25rem !important;
}

.nxl-container .nxl-content .main-content {
    overflow-x: hidden;
    padding: 0.8rem !important;
}

.dataTables_wrapper .row:first-child, .dataTables_wrapper .row:last-child {
    padding: 19px 0px 8px 10px !important;
}
